@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI/SegoeUI-Light.eot');
    src: local('Segoe UI Light'), local('SegoeUI-Light'), url('../fonts/SegoeUI/SegoeUI-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/SegoeUI/SegoeUI-Light.woff') format('woff'), url('../fonts/SegoeUI/SegoeUI-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI/SegoeUI-BoldItalic.eot');
    src: local('Segoe UI Bold Italic'), local('SegoeUI-BoldItalic'), url('../fonts/SegoeUI/SegoeUI-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/SegoeUI/SegoeUI-BoldItalic.woff') format('woff'), url('../fonts/SegoeUI/SegoeUI-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI/SegoeUI-SemiBold.eot');
    src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'), url('../fonts/SegoeUI/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/SegoeUI/SegoeUI-SemiBold.woff') format('woff'), url('../fonts/SegoeUI/SegoeUI-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI/SegoeUI.eot');
    src: local('Segoe UI'), local('SegoeUI'), url('../fonts/SegoeUI/SegoeUI.eot?#iefix') format('embedded-opentype'), url('../fonts/SegoeUI/SegoeUI.woff') format('woff'), url('../fonts/SegoeUI/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI/SegoeUI-Bold.eot');
    src: local('Segoe UI Bold'), local('SegoeUI-Bold'), url('../fonts/SegoeUI/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SegoeUI/SegoeUI-Bold.woff') format('woff'), url('../fonts/SegoeUI/SegoeUI-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI/SegoeUI-Italic.eot');
    src: local('Segoe UI Italic'), local('SegoeUI-Italic'), url('../fonts/SegoeUI/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/SegoeUI/SegoeUI-Italic.woff') format('woff'), url('../fonts/SegoeUI/SegoeUI-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}