.garant {
    position: relative;
    background: #333333;
    padding-top: 7.7rem;
    padding-bottom: 7.3rem;
    &__bg {
        width: 100%;
        position: absolute;
        top: -5rem;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 0;
    }
    .container {
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
    }
}

@media(max-width: 48em) {
    .garant {
        &__bg {
            display: none;
        }
        .container {
            flex-direction: column;
        }
        & .title--left {
            margin-bottom: 4rem;
        }
    }
}