.question{
    position: relative;
    padding-top: 7.1rem;
    padding-bottom: 13.3rem;
    &__description{
      padding-bottom: 6.1rem;  
      @include font(400,1.4rem,150%);
      h4{
        @include font(400,2.4rem, 150%);
      }
      ul{
        padding-left: 1.4rem;
        margin-bottom: 1.1rem;
        & > li{
            padding-left: .5rem;
            list-style-type: disc;
          }
      }
      button{
        position: relative;
        @include font(600, 1.4rem, 176%);
        text-decoration-line: underline;
        color: #cf3535;
        &::after{
            content: '';
            display: block;
            width: 1.5rem;
            height: 0.85rem;
            background: url(../img/icons/arrow-question-button.svg);
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            right: -1.5rem;
            top: 1rem;
        }
      }
    }
    &__bg{
      position: absolute;
      top: 42rem;
      left: 0;
      right: 0;
      z-index: -1;
    }
    &__list{
      margin: 0 auto;
      max-width: 75rem;
    }
    &__item{
      background: #fff;
      box-shadow: 0 .2rem 1.6rem rgba(0,0,0,0.08);
    }
    .title{
      margin-bottom: 4.1rem;
    }

    &__minus, &__answer{
      display: none;
    }

    &__question{
      padding: 1rem 1.3rem 1rem 2.6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }
    &__title{
      @include font(400,1.8rem, 139%);
    }
    &__icon{
      width: 1.8rem;
      height: 1.8rem;
      flex-shrink: 0;
    }
    svg{
      width: 100%;
      height: 100%;
    }
    &__answer{
      min-height: 15.6rem;
      padding: 2.4rem 2.7rem;
      @include font(400, 1.6rem, 150%);
      color: #5c5c5c;
      &.active{
        display: flex;
      }
    }
}

.active-accordion{
  .question__question{
    background-color: #cf3535;
    color:#fff;
    border-radius: 1rem;
      .question__plus{
        display: none;
      }
      .question__minus{
        display: flex;
      }
  }
}

// 2368  30:43