.title {
    text-align: center;
    @include centered;
    flex-direction: column;
    &__header {
        position: relative;
        @include font(700, 3.6rem, 133%);
        margin-bottom: 1.8rem;
        &--small {
            @include font(700, 2.4rem, 133%);
            color: #fff;
        }
    }
    &__subheader {
        max-width: 68rem;
        @include font(400, 1.6rem, 150%);
        color: #5c5c5c;
        &--small {
            @include font(400, 1.8rem, 150%);
            color: #fff;
        }
    }
    &__border {
        &-mouting::after {
            @include borderBot(46.2rem);
            right: 0;
        }
        &-install::after {
            @include borderBot(64.5rem);
            left: 0;
        }
        &-advantages::after {
            @include borderBot(25.6rem);
            right: 0;
        }
        &-why::after {
            @include borderBot(67.3rem);
            right: 0;
        }
    }
    &--left {
        max-width: 77.5%;
        text-align: left;
        align-items: flex-start;
        padding-left: 28rem;
    }
}

@media (max-width: 48em) {
    .title {
        &__header {
            @include font(700, 4.6rem, 133%);
            margin-bottom: 3rem;
        }
        &__subheader {
            font-size: 3rem;
        }
        &__border {
            &-mouting::after {
                width: 42.2rem;
                right: 7rem;
            }
            &-install::after {
                width: 32rem;
                left: 11rem;
            }
            &-advantages::after {
                width: 33rem;
                left: 14rem;
            }
            &-why::after {
                width: 22.5rem;
                left: 16rem;
            }
        }
        &--left {
            max-width: 100%;
            @include centered;
            padding-left: 0;
            text-align: center;
        }
    }
}